:host {
  display: block;
  margin-top: 40px;

  .form {
    margin: 20px;
  }

  .form-fields-block {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .form-buttons-block {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  .field {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 265px;
  }

  .button-clear {
    color: #A2A9B1;
  }
}
