<mat-list>
  <mat-list-item>
    <mat-icon matListItemIcon></mat-icon>
    <div matListItemTitle>Суперагент</div>
    <div class="sub-title" matListItemLine>Банк ВТБ(ПАО)</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListItemIcon>folder</mat-icon>
    <div matListItemTitle>Управление</div>
    <div class="sub-title" matListItemLine>
      <a class="link" routerLink="/" routerLinkActive="active-route">Карточка кортагента</a>
    </div>
    <div class="sub-title" matListItemLine>
      <a class="link" routerLink="/" routerLinkActive="active-route">Договоры кортагента</a>
    </div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>note</mat-icon>
    <div matListItemTitle>
      <a class="link" routerLink="/" routerLinkActive="active-route">Субагенты</a>
    </div>
  </mat-list-item>
</mat-list>
