:host {
  .main-container {
    width: 100%;
    min-height: 100vh;
  }
  .content {
    margin: 20px;
    height: 100%;
  }
  .menu {
    width: 273px;
    background-color: #666F78;
    padding: 10px;
    color: white;
  }
  .spinner {
    display: flex;
    margin: 20px auto;
  }
}
