<app-header></app-header>
<mat-drawer-container class="main-container">
  <mat-drawer mode="side" opened class="menu">
    <app-side-menu></app-side-menu>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content">
      <div class="nav-block">
        <button mat-button type="button">
          <span class="material-icons">chevron_left</span>
          Назад
        </button>
      </div>

      <h2>Настройка учетных записей сотрудников контрагента</h2>

      <div class="filter-block">
        <div class="account-action-block">
          <button mat-raised-button color="primary" type="button">
            <span class="action-title">Добавить</span>
            <mat-icon>add_circle</mat-icon>
          </button>
          <button mat-raised-button color="primary" type="button">
            <span class="action-title">Разблокировать</span>
            <mat-icon>check_circle</mat-icon>
          </button>
          <button mat-raised-button color="primary" type="button">
            <span class="action-title">Заблокировать</span>
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
        <div>
          <button mat-raised-button color="primary" type="button" disabled>
            <mat-icon>filter_list</mat-icon>
            Фильтр
          </button>
        </div>
      </div>

      <app-accounts-filter (onFilter)="filterAccounts($event)"></app-accounts-filter>
      <app-accounts *ngIf="accountsData" [accountsData]="accountsData"></app-accounts>
      <mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
